<section class="hero">
  <div class="welcome-wrapper text-center">
    <h1 class="welcome-text">WELCOME</h1>
    <h1 class="text-success fw-bold">
      ManaVillages
    </h1>
  </div>
  <a [href]="websiteLink"  rel="noopener noreferrer" class="nav-link">
    <div class="container villages">
      <div class="village-card" *ngFor="let vill of villages">
        <div class="d-flex align-items-center gap-2 ">
          <img *ngIf="vill.village_logo" [src]="'https://manavillages.com/v1/public/' + vill.village_logo"
            alt="Village Logo" width="100%"  class="village-logo" />
          <div *ngIf="websiteLink" class="village-title">
            <div class="village-title nav-link">{{ vill.village_name | uppercase }}</div>
          </div>
        </div>
      </div>
    </div>
  </a>
</section>